/* iCheck material design theme
----------------------------------- */
.md-radio {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    &:after {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }
    > input {
        margin: 0;
    }
    > .iCheck-helper {
        z-index: 10;
    }
}

.md-radio {
    border: 2px solid @input_off_color;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    &:after {
        content: '';
        background: transparent;
        position: absolute;
        left: 3px;
        top: 3px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: scale(0.1);
        transition: all 200ms ease-out;
    }
    &.checked {
        border-color: @input_on_color;
        &:after {
            background: @input_on_color;
            transform: scale(1);
        }
    }
    &.disabled {
        border-color: @input_disabled_color;
        cursor: default;
        &:after {
            background: @input_disabled_color;
            transform: scale(1);
        }
    }
    .md-input-danger & {
        border-color: @danger_color;
    }
}

.md-radio-disabled + .md-radio-inline-label {
    color: @input_disabled_color;
    cursor: default;
}

.md-radio-wrapper {
    display: inline-block;
    margin: 0 16px 16px 0;
    + .parsley-errors-list {
        margin-top: -8px;
    }
}
