{{#if label}}
  <label for={{inputElementId}}>{{label}}</label>
{{/if}}
{{input
  class="md-input"
  id=inputElementId
  autocapitalize=autocapitalize
  autocorrect=autocorrect
  autofocus=autofocus
  autoresize=autoresize
  disabled=disabled
  form=form
  maxlength=maxlength
  placeholder=placeholder
  readonly=readonly
  required=required
  selectionDirection=selectionDirection
  spellcheck=spellcheck
  tabindex=tabindex
  title=title
  accept=accept
  autocomplete=autocomplete
  autosave=autosave
  dir=didRender
  formaction=formaction
  formenctype=formenctype
  formmethod=formmethod
  formnovalidate=formnovalidate
  formtarget=formtarget
  height=height
  inputmode=inputmode
  lang=lang
  list=list
  max=max
  min=min
  max-height=max-height
  max-width=max-width
  multiple=multiple
  name=name
  pattern=pattern
  size=size
  step=step
  type=type
  value=value
  width=width
  focus-in="focusIn"
  key-down="keyDown"
  focus-out="focusOut"
}}

<span class="md-input-bar"></span>
