<div class="md-radio__container">
  <div class="md-radio__off"></div>
  <div class="md-radio__on"></div>
</div>
<div class="md-radio__label">
  <span class="md-radio__label-text">{{label}}</span>
</div>
